html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
.trusted-technology {
    font-family: 'Lato';
    font-size: 24px;
    font-weight: bold;
    line-height: 1.33;
    color: #383d4d;
    margin-right: 68px;
}
.side-bg {
    position: absolute;
    top: 0px;
    left:-50px;
}
.top-right-bg {
    position: absolute;
    right: 0px;
    top: 0px;
}
.What-we-do {
    margin-top: 30px;
    font-family: 'Lato';
    font-size: 38px;
    font-weight: bold;
    letter-spacing: 0.4px;
    color: #383d4d;
}
.what-to-do-underline {
    width: 254px;
    height: 3px;
    background-color: #f58b44;
}
.What-we-heading{
    margin-top:30px;
}
.Imaginnovate-has-over {
    margin-top: 18px;
    font-family: 'Lato';
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: 0.2px;
    color: #383d4d;
}
.section-head {
    font-family: 'Lato';
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 0.4px;
    color: #383d4d;
}
#header {
    margin-left: 50px;
    padding-top:50px;
    position: relative;
}
#services {
    margin-left: 50px;
    margin-top: 25px;
}
.services-underline {
    width: 106px;
    height: 3px;
    background-color: #f58b44;
}
.startup_list {
    margin-top: 15px;
    margin-bottom:15px;
}
h1 {
    font-family: 'Lato';
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 0.4px;
    color: #383d4d;
    position: relative;
    display: inline-block;
}
h1::before {
    content: '';
    position: absolute;
    bottom:-15px;
    width: 100%;
    left: 0%;
    border:3px solid #f58b44;
}
.stat-images {
    margin-top: 34px;
}
.service_list {
    margin-right: 35px;
}
.service-desc {
    font-family: 'Lato';
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0.3px;
    color: #383d4d;
    margin-top: 8px;
}
.service-desc-strategy {
    font-family: 'Lato';
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.3px;
    color: #383d4d;
}
.service-stats {
    text-align: center;
}
#service-statistics {
    margin-top: 65px;
    padding-left:25px;
    padding-right:25px;
}
.service-stats-desc {
    margin-top: 16px;
    font-family: 'Lato';
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.2px;
    text-align: center;
    color: #383d4d;
}
#startupsTrust {
    margin-top: 35px;
    margin-left: 50px;
    position: relative;
}
.startup-left {
    position: absolute;
    top: 71px;
    left: -50px;
}
.startup-right {
    position: absolute;
    top: 0px;
    right: 0px;
}
.start-up-list {
    margin-top: 51px;
    padding-left: 71px;
    margin-bottom:30px;
}
.start-up-list-2 {
    margin-top: 31px;
    margin-bottom: 35px;
    padding-left: 62px;
}
.startup-underline {
    width: 350px;
    height: 3px;
    background-color: #f58b44;
}
#technologies {
    margin-left: 55px;
}
.technologies-underline {
    width: 230px;
    height: 3px;
    background-color: #f58b44;
}
.tech-desc {
    margin-top: 6.6px;
    opacity: 0.96;
    font-family: 'Lato';
    font-size: 18px;
    font-weight: bold;
    color: #495063;
    text-align: center;
}
.technology-types {
    margin-top: 40px;
    margin-bottom: 40px;
}
#engagementPackages {
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
}
.engag-right-image {
    position: absolute;
    top: -25px;
    right: -50px;
}
.engagement-underline {
    width: 370px;
    height: 3px;
    background-color: #f58b44;
}
.engage-types {
    margin-top: 30px;
}
.engag-head {
    margin-top: 20px;
    font-family: 'Lato';
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    color: #f58b44;
}
.engag-desc {
    font-family: 'Lato';
    font-size: 17px;
    line-height: 1.93;
    color: #383d4d;
}
.engag-content {
    font-family: 'Lato';
    font-size: 24px;
    font-weight: bold;
    line-height: 1.58;
    color: #f58b44;
    margin-bottom: 35px;
    margin-top: 40px;
}
#footer {
    background-color: #5a6173;
    color: #ffffff;
}
.contact-info {
    padding-top: 26px;
}
.social-info {
    padding-top: 28px;
    padding-bottom: 17px;
}
.social-contact {
    margin-right: 30px;
}
.social-icons {
    margin-left: 30px;
}
.contact-info-desc {
    margin-top: 8px;
}
.header, #services, #service-statistics, .technologies,
.engagementPackages, #footer{
    overflow-x: hidden;
}
.hyperlink-style{
    color: #ffffff !important;
    text-decoration: none;
}

/* Media Queries */
@Media (max-width:575.98px) {
    h1{
        font-size:1.7rem!important;
    }
    .trusted-technology {
        margin-right: 0px;
        margin-top: 40px;
        margin-bottom: 25px;
    }
    #header, #technologies, #engagementPackages, #startupsTrust, #services{
        margin-left:0px;
        margin-right: 0px;
        padding-right: 20px;
        padding-left:20px;
    }
    .tech-desc{
        font-size:14px;
    }
    .engag-desc{
        margin-bottom:25px;
    }
    .engag-head{
        margin-top:15px;
    }
    .engag-right-image {
        right: 0px;
    }
    .service-stats-desc{
        margin-bottom:30px;
        margin-top:10px;
    }
    .contact_info {
        margin-top: 15px;
    }
    .startup_list {
        margin-top: 15px;
        margin-bottom:15px;
    }
    .start-up-list {
        padding-left: 20px !important;
    }
    .engag-right-image {
        top: 60px;
    }
    .service_list {
        margin-top: 25px;
        margin-right:0px;
    }
    .startup-left {
        left: 0px;
    }
    .service_list_2{
        margin-top:25px;
    }
    .stat-images{
        margin-top:0px;
    }
    .section-head {
        font-size: 32px;
    }
    .start-up-list{
        margin-top:30px;
        padding-left:0px;
    }
    .start-up-list-2{
        padding-left:0px;
        margin-top:0px;
    }
}
@Media (min-width:576px)and (max-width:767.98px) {
    h1{
        font-size:1.8rem!important;
    }
    .trusted-technology {
        margin-right: 0px;
        margin-top: 40px;
        margin-bottom: 25px;
    }
    #header, #technologies, #engagementPackages, #startupsTrust, #services{
        margin-left:0px;
        margin-right:0px;
        padding-right: 20px;
        padding-left:20px;
    }
    .startup-left{
        left:0px!important;
    }
    .start-up-list {
        padding-left: 20px !important;
    }
    .startup_list {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .service_list{
        margin-right:0px;
        margin-top: 15px;
    }
    .service_list_2{
        margin-top:15px;
    }
    .service-stats-desc{
        margin-top:4px;
        margin-bottom:21px;
    }
    .engag-desc{
        margin-bottom:21px;
    }
    .tech{
        margin-top:21px;
    }
    .start-up-list-2 {
        padding-left: 20px !important;
        margin-top:0px;
    }
}
@Media (min-width:768px)and (max-width:991.98px) {
    h1{
        font-size:2.0rem!important;
    }
    #header, #technologies, #engagementPackages, #startupsTrust, #services{
        margin-left:0px;
        margin-right: 0px;
        padding-right: 20px;
        padding-left:20px;
    }
    .startup-left{
        left:0px;
    }
    .start-up-list {
        padding-left: 20px !important;
    }
    .start-up-list-2 {
        padding-left: 20px !important;
    }
    .service_list{
        margin-top:15px;
        margin-right:0px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) { 
    h1{
        font-size:2.2rem!important;
    }
    .startup-left{
        left:-50px;
    }
    .start-up-list{
        padding-left: 20px;
        padding-right: 20px;
    }
    .start-up-list-2{
        padding-left: 0;
    }
    .service_list{
        margin-right:12px;
    }
}
@media (max-width: 320px){
    h1{
        font-style: 1.6rem!important;
    }
}
.header, #services, #service-statistics, .technologies,
.engagementPackages, #footer{
    overflow-x: hidden;
}
.hyperlink-style{
    color: #ffffff !important;
    text-decoration: none;
}