.footer-content{
  //  position: relative;
    background-color: #135ab8;
    height:auto;
    width: auto;
    font-size:14px;
    font-family: Lato;
    text-align: center;
    padding-top:16px;
    padding-bottom: 17px;
    color:white;
}
.footer-content .ant-layout-footer{
    background: none!important;
    color:inherit;
    padding:0;
}
.about-contact{
    width:100%;
    height:100%;
    background-image: url('../images/aboutContact.jpeg');
    background-size:cover;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
}
.about-contact-info{
    display: table;
    padding-top: 5px;
    padding-left: 8px;
    padding-bottom: 10px;
}
.about-contact-date{
    padding: 10px;
    text-align: center;
    float: left;
    width: 50px;
    background-color: #474747;
    color: #ffffff;
    font-size: 12px;
    line-height: 12px;
}
.about-contact-text{
    padding-left: 60px;
    color: #474747;
    font-size: 16px;
    line-height: 18px;
    width: 100%;
}
.inLineBlock{
    display: flex;                 
    flex-direction: row;           
    flex-wrap: nowrap;              
    justify-content: space-between;
    text-align: center;
}

@media (max-width: 800px) {


}
@media (max-width: 400px) {
   
    
}