      .header-homepage{
        width: 100%;
        height: 650px;
        background-image: url('../images/header-bg/header-bg.png');
        background-size:cover;
        background-repeat: no-repeat;
        position: relative;
        background-attachment: fixed;
      }
      .header-homepage-mobile{
        width: 100%;
        background-image: url('../images/header-bg/header-bg.png');
        background-size:contain;
        background-repeat: no-repeat;
      }
      .header-startuppage{
        width: 100%;
        height: 394px;
        background-image: url('../images/header-bg/header-bg-startup.png');
        background-size:cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
      }
      .header-startuppage-mobile{
        width: 100%;
        background-image: url('../images/header-bg/header-bg-startup.png');
        background-size:contain;
        background-repeat: no-repeat;
      }
      .header-retailpage{
        width: 100%;
        height: 394px;
        background-image: url('../images/header-bg/header-bg-retail.png');
        background-size:cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
      }
      .header-retailpage-mobile{
        width: 100%;
        height: 100%;
        background-image: url('../images/header-bg/header-bg-retail.png');
        background-size:contain;
        background-repeat: no-repeat;
      }
      .header-transportpage{
        width: 100%;
        height: 394px;
        background-image: url('../images/header-bg/header-bg-transport.png');
        background-size:cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
      }
      .header-transportpage-mobile{
        width: 100%;
        background-image: url('../images/header-bg/header-bg-transport.png');
        background-size:contain;
        background-repeat: no-repeat;
      }
      .header-aboutpage{
        width: 100%;
        height: 394px;
        background-image: url('../images/header-bg/header-bg-about.jpg');
        background-size:cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: 50% 0px;
      }
      .header-aboutpage-mobile{
        width: 100%;
        background-image: url('../images/header-bg/header-bg-about.jpg');
        background-size:contain;
        background-repeat: no-repeat;
        background-position: 50% 0px;
      }
      .header-contactpage{
        width: 100%;
        height: 394px;
        background-image: url('../images/header-bg/header-bg-contact.jpg');
        background-size:cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: 50% 0px;
      }
      .header-contactpage-mobile{
        width: 100%;
        background-image: url('../images/header-bg/header-bg-contact.jpg');
        background-size:contain;
        background-repeat: no-repeat;
        background-position: 50% 0px;
      }
      .header-heading-about-tagline{
        font-size:38px;
        font-weight: normal;
        line-height: 1.22;  
        color:white;
        padding-top: 175px;
        text-align: center;
        font-size: 40px;
      }

      .header-aboutpage > .ant-layout-header{
        background: none;
      }
      .headerLogo{
        padding : 5 0 0 5;
        
      }
      .headerLogo-mobile{
        padding : 5px 0 0 0;
      }
      .headerMenuItem{
        background-Color: transparent;
        width : 100%;
        font-family : Lato;
        font-size: 18px;
        letter-Spacing : 0.34px;
        border : none;
        height:25px;
        padding-top: 16px;
        right:5px;
        text-align: right;
      }
      .headerMenufont {
        color :#FF5B30;
      }
      .header-homepage .ant-layout-header {
        background: none!important;
      }
      .header-contactpage > .ant-layout-header{
        background: none!important;
      }
      .header-startuppage .ant-layout-header {
        background: none!important;
      }
      .header-retailpage .ant-layout-header {
        background: none!important;
      }
      .header-transportpage .ant-layout-header {
        background: none!important;
      }
      .header-page .ant-layout-header {
        background: none!important;
      }
      .ant-tabs-nav .ant-tabs-tab-active{
        color: #FF5B30;
      }
      .header-heading-tagline{
      // position: fixed;
        font-family: Lato;
        letter-spacing: 11.4px;
        font-weight: bold;
        font-size: 175px;
        color: #FFFF;
      }
      .header-heading-tagline-mobile{
        // position: fixed;
          font-family: Lato;
          letter-spacing: 11.4px;
          font-weight: bold;
          font-size: 75px;
          color: #FFFF;
      }
      .tag1-home{
        padding-top: 150px;
        padding-left: 13%;
      }
      .tag2-home{
        padding-top: 110px;
        padding-left: 13%;
      }
      .tag3-home{
        padding-top: 100px;
        padding-left: 13%;
      }
      .tag1-home-mobile{
        padding-top: 75px;
        padding-left: 13%;
      }
      .tag2-home-mobile{
        padding-top: 55px;
        padding-left: 13%;
      }
      .tag3-home-mobile{
        padding-top: 50px;
        padding-left: 13%;
      }
      .tag1-startup{
        padding-top: 175px;
        font-family: Lato;
        text-align: center;
        font-weight: bold;
        font-size: 175px;
        letter-spacing: 11.4px;
        color: #FFFF;
      }
      .tag-industries{
        font-family: Lato;
        font-weight: bold;
        color: #FFFF;
        text-align: center;
        font-size: 100px;
        letter-spacing: 3.3px;
      }
      .tag-industries-mobile{
        font-family: Lato;
        font-weight: bold;
        color: #FFFF;
        text-align: center;
        font-size: 50px;
        letter-spacing: 3.3px;
      }
      .tag1-industry{
        padding-top: 130px;
      }
      .tag2-industry{      
        padding-top: 5%;
      }
      .header-startuppage ant-layout-header{
        background: transparent;
      }
      .ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-submenu:hover, .ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu-active, .ant-menu-horizontal > .ant-menu-item-open, .ant-menu-horizontal > .ant-menu-submenu-open, .ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-submenu-selected{
        border-bottom: 2px solid #1890ff00;
      }
      .ant-menu-submenu-popup{
        background-color:#135ab8;
      }
      .industries-menu > .ant-menu,  .ant-menu-sub, .ant-menu-vertical > .ant-menu-item-selected {
        background-color:#135ab8!important;
      }    
      .stickyBar{
        transition: background-color 0.5s;
        //box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
      }
      @media (max-width: 800px) {
        /* CSS that should be displayed if width is equal to or less than 800px goes here */
        .headerLogo{
        
        }
        .logo-size{
          padding-top: 10px;
          width: 140px;
          height: 50px;
        }
        .headerMenuItem{
          font-size: 15px;
        }
        .header-heading-tagline{
          font-size: 100px;
        }
        .tag1-home{
          padding-top: 100px;
        }
        .tag2-home{
          padding-top: 30px;
        }
        .tag3-home{
          padding-top: 30px;
        }
        .header-homepage{
          height: 400px;
        }
        .header-startuppage{
          height: 230px;
        }
        .tag1-startup{
          padding-top: 100px;
          font-size: 100px;
          letter-spacing: 5.4px;
        }
        .tag-industries{
          font-size: 50px;
          letter-spacing: 1.3px;   
        }
        .tag1-industry{
          padding-top: 70px;
        }
        .tag2-industry{      
          padding-top: 1%;
        }
        .header-retailpage{
          height: 240px;
        }
        .header-transportpage{
          height: 240px;
        }
        .header-heading-about-tagline{
          padding-top: 100px;
          font-size: 30px;
        }
        .header-aboutpage{
          height: 240px;
        }
      }
      @media (max-width: 400px) {
        .logo-size{
          padding-top: 10px;
          width: 110px;
          height: 40px;
        }
        .header-heading-tagline{
          font-size: 60px;
        }
        .tag1-home{
          padding-top: 80px;
          padding-left: 1%;
        }
        .tag2-home{
          padding-top: 2px;
          padding-left: 1%;
        }
        .tag3-home{
          padding-top: 2px;
          padding-left: 1%;
        }
        .header-homepage{
          height: 300px;
        }
        .header-startuppage{
          height: 170px;
        }
        .tag1-startup{
          padding-top: 70px;
          font-size: 50px;
          letter-spacing: 1.4px;
        }
        .tag-industries{
          font-size: 26px;
          letter-spacing: 0.5px;   
        }
        .tag1-industry{
          padding-top: 70px;
        }
        .tag2-industry{      
          padding-top: px;
        }
        .header-retailpage{
          height: 240px;
        }
        .header-transportpage{
          height: 240px;
        }
        .header-heading-about-tagline{
          padding-top: 90px;
          font-size: 20px;
        }
        .header-aboutpage{
          height: 240px;
        }
      }