  html {
    height: auto;
    width: auto;
  }

  body {
    font-family: Lato, sans-serif;
    height: auto;
    width: auto;
    //overflow-x: hidden;
  }  
  @font-face {
    font-family: 'Lato';
    src: Lato;
    font-weight: normal;
    font-style: normal;
  }
  @import 'header';
  @import 'content';
  @import 'footer';