.about-background{
    width: 100%;
    background-image: url('../images/header-bg/header-bg-about.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 50% 0%;
}
.about-section-header{
    font-size: 72px;
    line-height: 70px;
    padding-top: 60px;
    padding-bottom: 50px;
}
.about-heading-tagline{
    font-weight: normal;
    line-height: 1.22;  
    color:white;
    padding-top: 175px;
    text-align: center;
    font-size: 40px;
}
.about-section-description{
    display: inline-block;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    vertical-align: middle;
    color: #41464F; 
}
.about-section-description-highlight{
    color: #FC4D20;
}
.tab-content-span{
    font-size: 24px;
    text-align: left;
    padding: 20px 40px;
}
.center-pills {
    display: flex;
    justify-content: center;
    background-color: #f4f4f4;
    color:#41464F
}
.tooltip.top { 
    -moz-transform: translateX(-50px); 
    -ms-transform: translateX(-50px); 
    -o-transform: translateX(-50px); 
    -webkit-transform: translateX(-50px); 
    transform: translateX(-50px); 
}
.nav>li>a{
    padding: 20px 50px;
    font-size:20px;
   /*  background-color: none!important; */
}
.nav-pills > li.active > a, .nav-pills > li.active > a:focus {
    color: black;
   /*  background-color: #fcd900; */
}

.nav-pills > li.active > a:hover {
    /*    background-color: #efcb00; */
    /* color:black; */
}
.navPillmarginLR{
    margin-left:5%;
    margin-right:8%;
    padding-right:5%;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .nav>li>a{
        padding: 20px 5px;
        font-size:13px;
    }
    .navPillmarginLR{
        margin-left:8%;
        margin-right:8%;
        padding-left:5%
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .nav>li>a{
        padding: 20px 5px;
        font-size:13px;
    }
    .navPillmarginLR{
        margin-left:20%;
        margin-right:20%;
        padding-left:5%
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .nav>li>a{
        padding: 20px 15px;
        font-size:18px;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .nav>li>a{
        padding: 20px 15px;
        font-size:18px;
    }
    
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .nav>li>a{
        padding: 20px 40px;
        font-size:20px;
    }
    
}