  html,body{
    height:100%;
    width:100%;
    font-family: 'Lato', sans-serif;
   /*  font-family: 'Source Sans Pro', sans-serif; */
    /* font-family: 'Open Sans', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
  }
  .intl-tel-input {
    display: table-cell;
  }
  .intl-tel-input .selected-flag {
    z-index: 4;
  }
  .intl-tel-input .country-list {
    z-index: 5;
  }
  .iti-flag {
    background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/10.0.2/img/flags.png");
  }
  .text-bottom {
    vertical-align: text-bottom;
  }
  .textAlignCenter{
    text-align: center;
  }
  .textAlignRight{
    text-align: right;
    color:#ffffff;
  }
  .textAlignLeft{
    text-align: left;
    color:#ffffff;
  }
  .marginBForty{
      margin-bottom: 40px;
  }
  .paddingFive{
    padding: 5px;
  }
  .paddingTen{
    padding: 10px;
  }

  .paddingTwenty{
    padding: 20px;
  }

  .paddingThirty{
    padding: 30px;
  }

  .paddingRFive{
    padding-right: 5px;
  }
  .paddingTBTen{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .paddingTBTwenty{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .paddingLRFivePercent{
    padding-left: 5%;
    padding-right: 5%;
  }
  .paddingFivePercent{
    padding: 5%;
  }
  .paddingThreePercent{
    padding: 3%;
  }

  .paddingTwoPercent{
    padding: 2%;
  }
  .padingLTenPercent{
    padding-left: 12%;
  }
  .paddingTenPercent{
    padding-left: 15%;
  }
  .paddingLRBFivePercent{
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 5%;
  }
  .cardBoxShadow{
    box-shadow: -3px -2px 2px 0 rgba(0, 0, 0, 0.16), 0px 2px 2px 0 rgba(0, 0, 0, 0.26);
  }
  .cardHeader{
    background-color: #2c3e50;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .footer{
    background-color: #113671;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 14px;
    color: #ffffff;
  }
  .colHeader{
    color:#3c6cbc;
    font-size: 36px;
    font-weight: bold;
  }
  .colText{
    color:#2c3e50;
    font-size:20px;
  }
  .btn.btnRed{
    -webkit-appearance: none;
    background-color:#ff6428;
    color:#ffffff;
    padding: 10px;
    font-size:16px;
  }
  .autoFitImage{
    max-width: 100%;
    height: auto;
  }
  .navbar-fixed-top.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
  }
  .navbar-fixed-top.scrolled .nav-link {
    color:#555;
  }
  .menuDiv > li > a{
    padding: 15px 15px;
    color: #113671;
    font-size: 16px;
  }
  /* .menuDiv > li.active > a{
      border-bottom: 3px solid ;
  } */
  .menuDiv > li.active a{
      border-bottom: 1px solid ;
      font-weight:500;
      color: #247ee3;
  } 
  .nav.menuDiv>li>a:focus,.nav.menuDiv>li>a:hover {
      color:#247ee3;
    /* text-decoration: none; */
      background-color: transparent !important;
  }
  .nav.menuDiv>li>li>a:focus, .nav.menuDiv>li>li>a:hover {
      text-decoration: none;
      background-color: transparent !important;
  }
  input{
      margin-bottom: 15px;
      border: 2px solid gray;
      color: #555;
  }
  .popup {
      width: 100%;
      height: 100%;
      display: none;
      position: fixed;
      top: 0px;
      left: 0px;
      background: rgba(0, 0, 0, 0.75);
  }

  .popup {
    text-align: center;
  }

  .popup:before {
    content: '';
    display: inline-block;
    height: 100%;
    margin-right: -4px;
    vertical-align: middle;
  }

  .popup-inner {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    position: relative;
    max-width: 700px;
    width: 90%;
    padding: 40px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 1);
    border-radius: 3px;
    background: url("../images/modal-bg.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    text-align: center;
  }

  .popup-inner h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
  }

  .popup-inner p {
    font-size: 24px;
    font-weight: 400;
  }

  .popup-close {
      display: none;
    /* width: 34px;
    height: 34px;
    padding-top: 4px;
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 20px;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    border-radius: 100%;
    background: transparent;
    border: solid 4px #808080; */
  }

  .popup-close:after,
  .popup-close:before {
    content: "";
    position: absolute;
    top: 11px;
    left: 5px;
    height: 4px;
    width: 16px;
    border-radius: 30px;
    background: #808080;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .popup-close:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .popup-close:hover {
    -webkit-transform: translate(50%, -50%) rotate(180deg);
    transform: translate(50%, -50%) rotate(180deg);
    background: #f00;
    text-decoration: none;
    border-color: #f00;
  }

  .popup-close:hover:after,
  .popup-close:hover:before {
    background: #fff;
  }
  .about-contact{
    background-image: url('../images/aboutContact.jpeg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 50% 0%;
  }
  .about-contact-info{
    display: table;
    padding-top: 5px;
    padding-left: 8px;
    padding-bottom: 10px;
  }
  .about-contact-date{
    padding: 10px;
    text-align: center;
    float: left;
    width: 50px;
    background-color: #474747;
    color: #ffffff;
    font-size: 12px;
    line-height: 12px;
  }
  .about-contact-text{
    padding-left: 60px;
    color: #474747;
    font-size: 16px;
    line-height: 18px;
    width: 100%;
  }
  .box {
  padding: 0 5px 0 5px;
  }

  @media only screen and (max-width: 600px) {
  .navbar-brand{
      height: 70px;
  }
  .navbar-toggle .icon-bar{
    border: 1px solid grey;
  }
  .navbar-fixed-top{
    background-color: #fff;
    color:#2c3e50;
  }
  .navbar-fixed-top > li > a{
    padding: 28px 28px;
    color: #2c3e50;
    font-size: 20px;
  }
  .menuDiv > li > a{
    color: #000000;
  }

  }
  @media only screen and (min-width: 600px) {
  .navbar-brand{
    height: 65px;
  }
  .navbar-toggle .icon-bar{
    border: 1px solid grey;
  }
  .navbar-fixed-top > li > a{
    padding: 28px 28px;
    color: #2c3e50;
    font-size: 20px;
  }
  }
  @media only screen and (min-width: 768px) {
  .navbar-brand{
    height: 65px;
  }
  .navbar-toggle .icon-bar{
    border: 1px solid grey;
  }
  }



  .menuDiv * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
  .menuDiv li {
    display: inline-block;
    list-style: outside none none;
    margin: 0.5em 1.5em;
    padding: 0;
  }
  .menuDiv a {
    padding: 0.3em 0;
    color: rgba(255, 255, 255, 0.5);
    position: relative;
    text-decoration: none;
    display: inline-block;
  }

  .menuDiv a:after {
    height: 2px;
    position: absolute;
    content: '';
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    background-color: #247ee3;
    width: 0;
  }
  .menuDiv a:before {
    top: 0;
    left: 0;
  }
  .menuDiv a:after {
    bottom: 0;
    right: 0;
  }
  .menuDiv a:hover,
  .menuDiv .current a {
    color: #ffffff;
  }
  .menuDiv a:hover:before,
  .menuDiv .current a:before,
  .menuDiv a:hover:after,
  .menuDiv .current a:after {
    width: 100%;
  }


 .block-content-two-header{
    padding-top:36px;
    padding-bottom:36px; 
 }

 @media only screen and (max-width: 600px) {
  
  .block-content-two-header{
      font-size: 40px;
  }
  
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
 
  .block-content-two-header{
      font-size: 40px;
  }
 
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
  .block-content-two-header{
      font-size: 40px;
  }
  
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
 
  .block-content-two-header{
      font-size: 50px;
  }
  
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
  .block-content-two-header{
      font-size: 55px;
  }
  
}

div.navbar{
  background-color: #ffffff
}

/* ul.navbar-nav li a{
  color:#123671;
  font-size:18px;
} */

/* ul.navbar-nav li.active{
  
  color :#986fff;
  font-weight:600;
} */

.widthHundredPercentage{
  width:100%;
}

.boxshadow {
  box-shadow: 7px 7px 5px #ccc;
}

.btn-theme{
    color: #fff;
    background-color: #0083e7;
    border-color: #0083e7;
}