
.contactus{
    width: 100%;
    background-image: url('../images/header-bg/header-bg-contact.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 50% 0%;
}
.contact-heading-tagline{
    font-weight: normal;
    line-height: 1.22;  
    color:white;
    padding-top: 145px;
    text-align: center;
    font-size: 40px;
}
.iti-flag {
    background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/14.0.8/img/flags.png");
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .iti-flag {background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/14.0.8/img/flags.png");}
}
.content-startup-first-text{
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 0.5px;
    text-align: center;
    color: #2c3e50;
    padding-top:2%;
    padding-bottom:1%;
}
.content-startup-engagement{
    /*background-image: url('../images/technologyCapabilities-Stripes/stripes-light-2.png');*/
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    padding-top: 20px;
    padding-bottom: 40px;
}
.content-startup-engagementPackage-text{
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.3px;
    color: #0f1924;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .sendBtn{
        padding-left:7%;
        margin-top:2%; 
        margin-bottom:2%;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .sendBtn{
        padding-left:7%;
        margin-top:2%; 
        margin-bottom:2%;
   }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .sendBtn{
        padding-left:3%;
        margin-top:1%; 
        margin-bottom:2%;
   }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .sendBtn{
        padding-left:3%;
        margin-top:1%; 
        margin-bottom:2%;
   }
}

.contact-bg {
background-image: url(../images/header-bg/bottom-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.3em;
    padding-bottom: 20px;
    background-attachment: fixed;
}

.div-partners {
    background-color: rgb(235, 235, 235);
}

.color-white {
    color: #fff;
}

.form-inputs {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    border: none;
    color: #fff;
    height: 50px;
}

.country-list{
    color:#000 !important;
}

.common-FormField {
    --error-red: #FF505C;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-tap-highlight-color: transparent;
    margin-top:10px;
    }
    
    .common-FormField input {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
      -moz-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: none;
      outline: none;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      width: 100%;
      font-size: 18px;
      line-height: 28px;
      font-weight: 400;
      font-weight: 400;
      font-weight: var(--font-weight-normal);
      background: none;
      color: #3A4554;
      color: #3A4554;
      color: var(--#c1bfbf100);
      border-bottom: 2px solid #c1bfbf;
      border-bottom: 2px solid #c1bfbf;

      overflow: hidden;
      text-overflow: ellipsis;
    }

    .common-FormField select {
        padding-right: 16px;
        background-image: url(../images/select-arrow.svg);
        -moz-background-size: 12px 7px;
        background-size: 12px 7px;
        background-repeat: no-repeat;
        background-position: right center;
        cursor: pointer;
    }
    .common-FormField select {
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        -moz-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: none;
        outline: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        width: 100%;
        font-size: 18px;
        line-height: 28px;
        font-weight: 400;
        font-weight: 400;
        font-weight: var(--font-weight-normal);
        background: none;
        color: #3A4554;
        color: #3A4554;
        color: var(#3A4554);
        border-bottom: 2px solid #c1bfbf;
        border-bottom: 2px solid #c1bfbf;
        border-bottom: 2px solid var(#c1bfbf);
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .common-FormField textarea {
        height: 30px;
        resize: vertical;
        
    }


    .common-FormField textarea {
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        -moz-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: none;
        outline: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        width: 100%;
        font-size: 18px;
        line-height: 28px;
        font-weight: 400;
        font-weight: 400;
        font-weight: var(--font-weight-normal);
        background: none;
        color: #3A4554;
        color: #3A4554;
        color: var(#3A4554);
        border-bottom: 2px solid #c1bfbf;
        border-bottom: 2px solid #c1bfbf;
        border-bottom: 2px solid var(#c1bfbf);
        overflow: hidden;
        text-overflow: ellipsis;
    }