
.industries-transportation{
    width: 100%;
    background-image: url('../images/header-bg/header-bg-transport.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 50% 0%;
}
.transportationNLogistics {
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 9.4px;
    color: #ffffff;
    font-size: 100px;
    font-weight: 700;
}
.tag1-industry{
    padding-top: 110px;
}
.tag2-industry{      
    padding-top: 10px;
    padding-bottom: 30px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .transportationNLogistics{
        font-size: 25px;
        letter-spacing: 5.4px;
        font-weight: 800;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .transportationNLogistics{
        font-size: 25px;
        letter-spacing: 5.4px;
        font-weight: 800;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .transportationNLogistics{
        font-size: 80px;
        font-weight: 1000;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .transportationNLogistics{
        font-size: 100px;
        font-weight: 800;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .transportationNLogistics{
        font-size: 100px;
        font-weight: 800;
    }
}

.features{
 font-size: 20px;

}

.features .item{
    margin-top: 15px;
    background-color: #CCCCCC;
    padding: 15px;
    border-left: 5px solid #000000;
   /* box-shadow: -10px 0px 10px 1px #aaaaaa; */
}

.feature-heading{
    font-weight:bold
}
.feature-desc{
    font-size:14px;
}

.borderLeft{
    border-left:1px solid #AC0101;
}

i{
    color: #123671;
    font-size: 50px;
}