.home-background{
    width: 100%;
    height: 100%;
    background: url("../images/header-bg/header-bg.png"); 
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 50% 0%;
}
.DesignDevelopDeliver {
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 11.4px;
    color: #ffffff;
    margin-top:-2%;
}
.home-banner-content{
    width: 100%;
    height: 100%;
    background: url("../images/first-banner-content/first-banner-content.png"); 
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 50% 0%;
}
.home-banner-content-two{
    width: 100%;
    height: 100%;
    background: url("../images/industryExpertise-Card-Background/industryExpertise-Card-Background.png"); 
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 50% 0%;
}
.home-banner-content-three{
    width: 100%;
    height: 100%;
    /*background: url("../images/technologyCapabilities-Stripes/stripes-light-2.png"); */
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 50% 0%;
}
.home-banner-content-text{
    color:#ffffff;
}
.content-third-cards{
    margin:5px;
    position: relative;
}
.content-third-card-img{
    margin-top: 42px;
}
.content-third-card-img-title{
    margin-top: 12px;
    padding-bottom: 42px;
    font-size: 24px;
    align-content: center;
    color: #ffffff;
}
.content-contact{
    text-align: center;
    vertical-align: middle; 
    background-image: url('../images/contact/contact.png');
    background-size:cover;
    background-repeat: no-repeat;
    padding-bottom:5%;
}
.content-contact-heading{
    padding-top: 26px;
    padding-bottom: 35px;
    font-size: 48px;
    color:#ffffff;
}
.content-contact-elements{
    font-size: 20px;
    color: #ffffff;
    text-align: left;
}
.home-banner-content-three-header, .home-banner-content-two-header{
    padding-top:36px;
    padding-bottom:36px; 
 }
 .home-thirdSection{
    font-size:60px;
    font-weight:320;
 }
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .DesignDevelopDeliver {
        font-size: 40px;
        font-weight: 700;
        margin-top: 2%;
    }
    .home-banner-content-text{
        font-size: 30px;
    }
    .home-banner-content-two-header,  .home-banner-content-three-header{
        font-size: 40px;
    }
    .home-background{
        padding-top:23%;
        padding-bottom:5%;
    }
    .home-thirdSection{
        font-size:15px;
        font-weight:320;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .DesignDevelopDeliver {
        font-size: 80px;
        font-weight: 400;
    }
    .home-banner-content-text{
        font-size: 30px;
    }
    .home-banner-content-two-header,  .home-banner-content-three-header{
        font-size: 40px;
    }
    .home-background{
        padding-top:23%;
        padding-bottom:5%;
    }
    .home-thirdSection{
        font-size:15px;
        font-weight:320;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .DesignDevelopDeliver {
        font-size: 110px;
        font-weight: 800;
    }
    .home-banner-content-text{
        font-size: 30px;
    }
    .home-banner-content-two-header, .home-banner-content-three-header{
        font-size: 40px;
    }
    .home-background{
        padding-top:23%;
        padding-bottom:5%;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .DesignDevelopDeliver {
        font-size: 162px;
        font-weight: 800;
    }
    .home-banner-content-text{
        font-size: 50px;
    }
    .home-banner-content-two-header, .home-banner-content-three-header{
        font-size: 50px;
    }
    .home-background{
        padding-top:10%;
        padding-bottom:3%;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .DesignDevelopDeliver {
        font-size: 80px;
        font-weight: 900;
    }
    .home-banner-content-text{
        font-size: 70px;
    }
    .home-banner-content-two-header, .home-banner-content-three-header{
        font-size: 45px;
    }
    .home-background{
        padding-top:8%;
        padding-bottom:3%;
    }
}

.features-rightline {
    position: relative;
    margin-bottom: 50px;
    padding: 5px 5px 15px 5px;
}

.feature-desc{
    font-size: 20px;
}

@media only screen and (min-device-width: 769px) {
    .features-rightline:after {
        height: 95%;
        position: absolute;
        right: 0;
        border-right: 1px solid grey;
        content: '';
    }
}

.line-bottom {
    position: relative;
    padding-bottom: 5px;
}

.line-bottom:before {
    content: "";
    position: absolute;
    width: 50px;
    height: 1px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 1px solid red;
}

.line-hide:after {
    visibility: hidden;
}

.margin-partner {
    margin: 20px 0px;
    font-size: 1.5em;
}


#features{
    padding-top: 0px;
    padding-bottom: 20px;
}

.block1{
    color:#123671;
    font-family: 'Helvetica 45 Light';
    font-weight: 500;
    font-size: 82px;
    letter-spacing: 2px;
    padding:1%;
    padding-top:8%;
    padding-bottom: 1.5%;
}

.block2{
    color:#123671;
    font-family:'Helvetica Neue Bold';
    font-weight:normal;
    font-size: 82px;
    letter-spacing: 3px;
    padding:1%;
    padding-bottom:8%;
}


@media only screen and (min-width: 768px){
    .block1{
        font-size: 82px;
    }
    .block2{
        font-size: 82px;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .block1{
        font-size: 45px;
        color:#123671;
    }
    .block2{
        font-size: 45px;
        color:#123671;
    }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
    .block1{
        font-size: 60px;
    }
    .block2{
        font-size: 60px;
    }
   
}