.startups{
    width: 100%;
    background-image: url('../images/header-bg/header-bg-startup.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 50% 0%;
}
.startup {
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 9.4px;
    color: #ffffff;
    font-size: 100px;
    font-weight: 800;
}
.content-startup-first-text{
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 0.5px;
    text-align: center;
    color: #2c3e50;
    padding-top:2%;
    padding-bottom:1%;
}
.content-startup-engagement{
    /*background-image: url('../images/technologyCapabilities-Stripes/stripes-light-2.png');*/
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    padding-top: 20px;
    padding-bottom: 40px;
}
.content-startup-engagementPackage-text{
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.3px;
    color: #0f1924;
}
.tag1-industry{
    padding-top: 110px;
}
.tag2-industry{      
    padding-top: 10px;
    padding-bottom: 30px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .startup{
        font-size: 40px;
        font-weight: 800;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .startup{
        font-size: 40px;
        font-weight: 800;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .startup{
        font-size: 80px;
        font-weight: 600;
    }
    .card1PaddingBottom{
        padding-bottom:5%
    }
    .card2PaddingBottom{
        padding-bottom:30%
    }
    .card3PaddingBottom{
        padding-bottom:55%
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .startup{
        font-size: 100px;
        font-weight: 800;
    }
    .card1PaddingBottom{
        padding-bottom:5%
    }
    .card2PaddingBottom{
    
    }
    .card3PaddingBottom{
        padding-bottom:25%
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .startup{
        font-size: 100px;
        font-weight: 800;
    }
    .card1PaddingBottom{
        padding-bottom:4%
    }
    .card2PaddingBottom{
    
    }
    .card3PaddingBottom{
        padding-bottom:22%
    }
}


#package_features li {
    list-style-type: disc;
    position: relative;
    padding-left: 15px;
    margin: 10px;
    font-size: 18px;
}

/*li:before {*/
/*    content: "\25BA \0020";*/
/*    font-size: 6px;*/
/*    position: absolute;*/
/*    top: 5px;*/
/*    left: -5px;*/
/*}*/

.package-body {
    height: 530px;
}

.package-try-now {
    text-align: center;
    bottom: 0px;
    position: absolute;
    padding-bottom: 10px;
    left: 35%;
}

.contact-sales-text{
    font-size: 22px;
    font-weight: 100;
    padding-top: 10px;
}

.package-plus-text{
    font-size: 18px;
    text-align: center;
   /* margin-left: -130px;*/
   text-align: left;
    padding-top: 10px;
}
